# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-development-key-change-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,*

# Database Configuration
DATABASE_URL=sqlite:///db.sqlite3

# AWS S3 Contabo Settings
AWS_ENDPOINT_URL=https://usc1.contabostorage.com
AWS_ACCESS_KEY_ID=f35256d14c2a22f4648bce44896529d8
AWS_SECRET_ACCESS_KEY=7672dbe85d3e540b7c62ff6df5704ef3
AWS_REGION=usc1
AWS_BUCKET_NAME=sds

# Python Settings
PYTHONUNBUFFERED=1
PYTHONDONTWRITEBYTECODE=1

# Application Settings
LANGUAGE_CODE=en-us
TIME_ZONE=UTC

# Lightnight AI:
LIGHTNING_API_KEY=API+KEY8543c480-3419-4f37-b69e-f87b66d8ff2a